@font-face {
  font-family: "Marvin Visions Variable";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
}
@font-face {
  font-family: "LemonMilk";
  src: url("./LEMONMILK-Medium.otf");
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
  overflow: hidden;
  position: absolute;
  background-color: #000;
}

/* body:after {
  content: "";
  position: fixed;
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.3;
  filter: invert(1);
  background-size: contain;
} */

.banner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  filter: opacity(0.5);
}

.banner .content {
  position: relative;
  z-index: 1;
  /* max-width: 1000px; */
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.data {
  /* --weight: 10; */
  font-family: "LemonMilk";
  /* font-family: Poppins; */
  font-size: 6rem;
  font-weight: 170;
  line-height: 0.8;
  letter-spacing: 0.5rem;
  color: #fff;
  text-align: center;
}

#quote > * {
  /* color: hsl(347, 7%, 29%); */
  color: #fff;
  font-variation-settings: "wght" var(--weight);
}

.video_overlay {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  /* border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}

@media (max-width: 950px) {
  .data {
    font-size: 5rem;
    font-weight: 50;
    line-height: 4rem;
  }
}
@media (max-width: 800px) {
  .data {
    font-size: 4rem;
    font-weight: 50;
    line-height: 4rem;
  }
}
@media (max-width: 300px) {
  .data {
    font-size: 3rem;
    font-weight: 50;
    line-height: 4rem;
  }
}
